*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  color: #9f9b91;
  background-color: #242424;
  font-family: "Padauk", sans-serif;
}

ul {
  list-style: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-header h2 {
  margin-left: 20px;
  color: #c6d663;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.social-media li {
  padding-left: 10px;
}

.social-media img {
  color: #9f9b91;
}

.primary-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 600px;
  font-size: 18px;
  line-height: 30px;
}

.big-green-half-circle {
  position: absolute;
  right: 0;
  bottom: -325px;
  display: flex;
  width: 600px;
  height: 600px;
  background-color: #c6d663;
  clip-path: circle(50% at center right);
  display: block;
  white-space: pre-wrap;
  overflow: hidden;
}

.scrolling-text {
  margin-left: 340px;
  width: 800px;
  height: 400px;
  word-wrap: break-word;
  display: inline-block;
  color: #242424;
  font-family: monospace;
  font-size: 20px;
  animation: scroll 5s infinite linear;
  margin-bottom: 100px;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.greeen-half-circle-parent {
  filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
}

.arguments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 50px;
  background-color: #201e1e;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 100px;
}

.arguments h3 {
  font-size: 25px;
}
.arguments li {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #c6d663;
  color: #242424;
  width: 50px;
  height: 50px;
  border-radius: 33px;
}

.first-argument {
  margin-right: 130px;
}

.second-argument {

  margin-bottom: 29px;
}

.advantages {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 200px;
}

.excellence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-right: 15px;
  padding: 60px;
}

.excellence p {
  max-width: 550px;
  font-size: 18px;
  line-height: 30px;
}

.excellence h2 {
  color: #c6d663;
}

.top-angle {
  position: absolute;
  right: 630px;
  top: 35px;
  transform: rotate(45deg);
  width: 80px;
  height: 80px;
  color: #c6d663;
}

.bottom-angle {
  position: absolute;
  right: 20px;
  bottom: 30px;
  transform: rotate(225deg);
  width: 80px;
  height: 80px;
  color: #c6d663;
}

.green-half-circle-parent-2 {
  filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
}

.big-green-half-circle-2 {
  position: absolute;
  left: 0;
  bottom: -325px;
  width: 600px;
  height: 600px;
  color: #c6d663;
  background-color: #c6d663;
  clip-path: circle(50% at center left);
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  padding: 20px;
  padding-top: 10px;
  background-color: #201e1e;
}

.examples h3 {
  color: #c6d663;
}

.examples img {
  width: 500px;
  height: 400px;
}
.first-example {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 150px;
}

.upper-image {
  position: absolute;
  right: 200px;
  bottom: 80px;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgb(22, 22, 22);
}

.down-image {
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgb(22, 22, 22);
}
.text-wrapper {
  
  margin-right: 260px;
  font-size: 18px;
}

.second-example {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 30px;
  margin-bottom: 50px;
}

.text-wrapper-1 {
  margin-left: 260px;
  font-size: 18px;
}

.upper-image-1 {
  position: absolute;
  left: 200px;
  bottom: 80px;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgb(22, 22, 22);
}

.down-image-1 {
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgb(22, 22, 22);
}

.tarrifs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tarrifs h2 {
  color: #c6d663;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  margin-left: 25px;
}

.cards h3 {
  color: #c6d663;
}

.offers {
  margin-right: 50px;
  max-width: 330px;
  border: none;
  box-shadow: 0 0 20px 20px rgb(24, 23, 23);
  padding-left: 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 30px;
}

.offer-plus-size {
  margin-right: 50px;
  max-width: 330px;
  border: none;
  box-shadow: 0 0 20px 20px rgb(24, 23, 23);
  padding: 25px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 30px;
}

.offer-plus-size h3 {
  margin-top: 0;
}

.offers button {
  background-color: #c6d663;
  color: #242424;
  border: 3px solid #c6d663;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.base-offer {
  text-align: center;
  padding-left: 2px;
}

.offers:last-child {
  max-width: 348px;
}

.redirection {
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 40px;
  background-color: transparent;
  border: 3px solid #c6d663;
  border-radius: 10px;
  box-shadow: 0 0 50px 20px rgb(24, 23, 23);
}

.redirection button {
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: #c6d663;
  font-size: 20px;
}

footer {
  margin-top: 100px;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  color: #242424;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c6d663;
  padding: 15px;
}

.information p {
  width: 300px;
}

.footer-logo {
  padding-left: 100px;
}

.major {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .main-header,
  .content,
  .information {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

  .second-argument {
    margin-bottom: 0;
  }

  .top-angle {
    right: 610px;
    top: 30px;
  }

  .examples img {
    width: 350px;
    height: 250px;
  }

  .examples {
    margin-bottom: 80px;
  }

  .offers:first-child {
    width: 350px;
    padding: 20px;
  }

  .offers:last-child {
    max-width: 300px;
  }

  .tarrifs h2 {
    margin-right: 100px;
    
  }
}


@media (max-width: 768px) {
  .main-header,
  .content,
  .information {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

  .primary-content {
    margin-bottom: 80px;
  }
  .green-half-circle-parent-2,
  .greeen-half-circle-parent {
    display: none;
  }

  .arguments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .arguments ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .first-argument,
  .second-argument {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding: 10px;
  }

  .advantages {
    margin-bottom: 100px;
  }
  .excellence {
    padding: 20px;
    margin: 0 auto;
    width: auto;
  }

  .excellence h2 {
    font-size: 18px;
  }

  .bottom-angle,
  .top-angle {
    display: none;
  }
 

  .examples img {
    width: 250px;
    height: 200px;
  }
  .first-example,
  .second-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .first-example {
    margin-bottom: 100px;
  }

  .second-example {
    margin-top: 150px;
  }
  

  .upper-image,
  .upper-image-1 {
    display: none;
  }
  .down-image {
    
    position: absolute;
    left: 40px;
    bottom: -200px;
  }

  .text-wrapper,
  .text-wrapper-1 {
    margin-top: 10px;
    padding-top: 0;
    margin: 0;
  }

  .text-wrapper-1 {
    padding-bottom: 200px;
  }
 
  .down-image-1 {
    position: absolute;
    left: 40px;
    bottom: -22px;
  }

  .tarrifs h2 {
    margin-left: 100px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  .cards li {
    text-align: center;
  }

  .offers,
  .offers:last-child {
    margin-bottom: 70px;
    padding: 10px;
    margin-right: 0;
    max-width: 300px;
    
  }

  .redirection {
    width: 250px;
  }

  .information p {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .down-image-1 {
    position: absolute;
    left: 4px;
    bottom: -22px;
  }

  .down-image {
    position: absolute;
    left: 4px;
    bottom: -200px;
  }

  .offers,
  .offers:last-child {
    max-width: 280px;
  }
}
