*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
  color: #9f9b91;
  background-color: #242424;
  
}

ul {
  list-style: none;
}

.main-header {
  background-color: rgba(22, 22, 22, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.main-header img {
  padding: 0 0 10px 10px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}

.social-media li {
  padding-left: 10px;
}

.social-media img {
  color: #9f9b91;
}

.foreword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 180px;
  
}

.foreword-description {
  max-width: 700px;
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 40px;
}

.foreword button {
  background-color: transparent;
  color: #9f9b91;
  border: 1px solid #2a90e4;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.foreword button:hover {
  background-color: rgb(246, 194, 65);
  color: #2a90e4;
  border: none;
}

.primary-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 100px;
}

.description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
  width: 550px;
  font-size: 18px;
  line-height: 30px;
  margin-left: 15px;
}

.description h2 {
  color: rgb(246, 194, 65);
  padding-bottom: 20px;
  padding-top: 20px;
}
.top-angle-1 {
  position: absolute;
  top: -5px;
  left: -30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 80px;
  height: 80px;
  color: #2a90e4;
}

.bottom-angle-1 {
  position: absolute;
  right: -24px;
  bottom: 15px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  width: 80px;
  height: 80px;
  color: #2a90e4;
}

.greeting-image {
  z-index: 1;
  margin-right: 85px;
}

.greeting-image img {
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.big-green-half-circle {
  position: absolute;
  right: 0;
  bottom: -310px;
  width: 600px;
  height: 600px;
  background-color: #2a90e4;
  -webkit-clip-path: circle(50% at center right);
  clip-path: circle(50% at center right);
  display: block;
  white-space: pre-wrap;
  overflow: hidden;
}

.green-half-circle-parent {
  -webkit-filter: drop-shadow(-13px 10px 14px rgb(0, 0, 0));
  filter: drop-shadow(-13px 10px 14px rgb(0, 0, 0));
}

.big-grey-circle {
  position: absolute;
  background-color: #201e1e;
  width: 450px;
  height: 450px;
  -webkit-clip-path: circle(50% at center right);
  clip-path: circle(50% at center right);
  top: 28px;
  right: 0;
}

.big-grey-circle-parent {
  -webkit-filter: drop-shadow(-13px 10px 14px rgb(0, 0, 0));
  filter: drop-shadow(-13px 10px 14px rgb(0, 0, 0));
}

.little-orange-circle {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 25px;
  right: 0;
  background-color: rgb(246, 194, 65);
  -webkit-clip-path: circle(50% at center right);
  clip-path: circle(50% at center right);
}

.orange-circle-parent {
  -webkit-filter: drop-shadow(-13px 10px 14px rgb(0, 0, 0));
  filter: drop-shadow(-13px 10px 14px rgb(0, 0, 0));
}

.little-grey-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 6px;
  right: 0;
  background-color: #201e1e;
  -webkit-clip-path: circle(50% at center right);
  clip-path: circle(50% at center right);
}

.little-grey-parent {
  -webkit-filter: drop-shadow(-13px 10px 14px rgb(0, 0, 0));
  filter: drop-shadow(-13px 10px 14px rgb(0, 0, 0));
}

.big-grey-circle-2 {
  position: absolute;
  background-color: #201e1e;
  width: 450px;
  height: 450px;
  -webkit-clip-path: circle(50% at center left);
  clip-path: circle(50% at center left);
  top: 80px;
  left: 0;
}

.big-grey-circle-parent-2 {
  -webkit-filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
  filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
}

.little-orange-circle-2 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: rgb(246, 194, 65);
  -webkit-clip-path: circle(50% at center left);
  clip-path: circle(50% at center left);
}

.orange-circle-parent-2 {
  -webkit-filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
  filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
}

.little-grey-circle-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 55px;
  left: 0;
  background-color: #201e1e;
  -webkit-clip-path: circle(50% at center left);
  clip-path: circle(50% at center left);
}

.little-grey-parent-2 {
  -webkit-filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
  filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
}

.how-works-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #201e1e;
  
}

.how-works-description h2 {
  color: rgb(246, 194, 65);
  margin-top: 60px;
  font-size: 30px;
}

.arguments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 50px;
  background-color: #201e1e;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 100px;
  font-size: 22px;
  line-height: 40px;
}

.arguments li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2a90e4;
  color: #242424;
  width: 40px;
  height: 40px;
  border-radius: 33px;
  
}

.arguments li:hover {
  background-color: rgb(246, 194, 65);
}

.first-arguments {
  margin-right: 130px;
  padding: 20px;
  
}

.first-arguments li {
  margin-left: 145px;
}

.second-arguments li {
  margin-left: 188px;
}

.first-arguments ul,
.second-arguments ul {
  padding-bottom: 20px;
  padding-top: 20px;
}

.second-arguments {
  margin-bottom: 29px;
  padding: 20px;
  
}

.advantages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-bottom: 170px;
}

.excellence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  margin-right: 15px;
  padding: 60px;
  
}

.excellence ul {
  max-width: 550px;
  font-size: 20px;
  line-height: 40px;;
}
.excellence li {
  padding-bottom: 20px;
}

.excellence h2 {
  color: rgb(246, 194, 65);
  font-size: 28px;
}

.top-angle {
  position: absolute;
  right: 579px;
  top: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 80px;
  height: 80px;
  color: #2a90e4;
}

.bottom-angle {
  position: absolute;
  right: 22px;
  bottom: 81px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  width: 80px;
  height: 80px;
  color: #2a90e4;
}

.green-half-circle-parent-2 {
  -webkit-filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
  filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
}

.big-green-half-circle-2 {
  position: absolute;
  left: 0;
  bottom: -325px;
  width: 600px;
  height: 600px;
  background-color: #2a90e4;
  -webkit-clip-path: circle(50% at center left);
  clip-path: circle(50% at center left);
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 60px;
  padding: 20px;
  padding-top: 10px;
  background-color: #201e1e;
}

.examples h3 {
  color: rgb(246, 194, 65);
}

.examples img {
  width: 500px;
  height: 400px;
}
.first-example {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 250px;
}

.upper-image {
  position: absolute;
  right: 200px;
  bottom: -16px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 20px rgb(22, 22, 22);
  box-shadow: 0 0 20px 20px rgb(22, 22, 22);
}

.down-image {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 20px rgb(22, 22, 22);
  box-shadow: 0 0 20px 20px rgb(22, 22, 22);
}
.text-wrapper {
  margin-right: 260px;
  font-size: 20px;
  line-height: 35px;
}

.second-example {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  padding: 30px;
  margin-bottom: 50px;
}

.text-wrapper-1 {
  margin-left: 260px;
  font-size: 20px;
  line-height: 35px;
}

.upper-image-1 {
  position: absolute;
  left: 200px;
  bottom: 80px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 20px rgb(22, 22, 22);
  box-shadow: 0 0 20px 20px rgb(22, 22, 22);
}

.down-image-1 {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 20px rgb(22, 22, 22);
  box-shadow: 0 0 20px 20px rgb(22, 22, 22);
}

.tarrifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tarrifs h2 {
  color: rgb(246, 194, 65);
  margin-bottom: 50px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  margin-left: 25px;
}

.cards h3 {
  color: rgb(246, 194, 65);
}

.offers {
  margin-right: 50px;
  max-width: 330px;
  border: none;
  -webkit-box-shadow: 0 0 20px 20px rgb(24, 23, 23);
  box-shadow: 0 0 20px 20px rgb(24, 23, 23);
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #2a90e4;
  font-size: 18px;
  line-height: 30px;
}

.offer-plus-size {
  margin-right: 50px;
  max-width: 330px;
  border: none;
  -webkit-box-shadow: 0 0 20px 20px rgb(24, 23, 23);
  box-shadow: 0 0 20px 20px rgb(24, 23, 23);
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #2a90e4;
  font-size: 18px;
  line-height: 30px;
}

.offer-plus-size h3 {
  margin-top: 20px;
}

.offers button {
  background-color: #2a90e4;
  color: #242424;
  border: 3px solid #2a90e4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 25px;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.offers button:hover {
  background-color: rgb(246, 194, 65);
  border: 3px solid rgb(246, 194, 65);
  padding: 15px;
}

.offers button:active {
  background-color: transparent;
  border: 3px dotted #c6d663;
  color: #c6d663;
  outline: none;
}

.offers:hover {
  background-color: rgba(22, 22, 22, 0.5);
}

.offers:hover h3 {
  font-size: 25px;
}

.base-offer {
  text-align: center;
  padding-left: 2px;
}

.offers:last-child {
  max-width: 348px;
}

.free-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #201e1e;
  color: rgb(246, 194, 65);
  border-bottom: 5px dotted #2a90e4;
  border-top: 5px dotted #2a90e4;
}
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 500px;
}

.contact-info p {
  padding-top: 30px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
}

.contact-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(246, 194, 65);
  padding-top: 40px;
  width: 300px;
  font-size: 16px;
  color: rgb(246, 194, 65);
}

.contact-form button {
  border: 1px solid #2a90e4;
  border-radius: 50px;
  background-color: transparent;
  color: #2a90e4;
  padding: 25px;
  margin-top: 50px;
  width: 200px;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.contact-form button:hover {
  background-color: rgb(246, 194, 65);
  border: 1px solid rgb(246, 194, 65);
  color: #201e1e;
}

.redirection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 80px;
}
.redirection button {
  font-weight: 700;
  color: rgb(246, 194, 65);
  font-size: 20px;
  border: none;
  padding: 40px;
  background-color: transparent;
  border: 1px solid #2a90e4;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.redirection button:hover {
  background-color: rgb(246, 194, 65);
  border: none;
  color: #2a90e4;
}

.redirection button:active,
:focus {
  outline: none;
}

footer {
  margin-top: 100px;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  color: #242424;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(22, 22, 22, 0.2);
  padding: 15px;
  color: rgb(246, 194, 65);
}

.information p {
  max-width: 300px;
}

.information img {
  margin-right: 90px;
}

.major {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .main-header,
  .content,
  .information {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

  .second-argument {
    margin-bottom: 0;
  }

  .top-angle {
    right: 610px;
    top: 30px;
  }

  .examples img {
    width: 350px;
    height: 250px;
  }

  .examples {
    margin-bottom: 80px;
  }

  .offers:first-child {
    width: 350px;
    padding: 20px;
  }

  .offers:last-child {
    max-width: 300px;
  }

  .tarrifs h2 {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .main-header,
  .content,
  .information {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

  .primary-content {
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .description {
    max-width: 600px;
  }

  .top-angle-1,
  .bottom-angle-1 {
    display: none;
  }

  .greeting-image img {
    width: 300px;
    height: 200px;
    margin-left: 70px;
  }
  .green-half-circle-parent-2,
  .green-half-circle-parent {
    display: none;
  }

  .arguments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .arguments ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
  .first-arguments,
  .second-arguments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    padding: 10px;
  }

  .advantages {
    margin-bottom: 100px;
  }
  .excellence {
    padding: 20px;
    margin: 0 auto;
    width: auto;
  }

  .excellence h2 {
    font-size: 18px;
  }

  .bottom-angle,
  .top-angle {
    display: none;
  }

  .examples img {
    width: 250px;
    height: 200px;
  }
  .first-example,
  .second-example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .first-example {
    margin-bottom: 100px;
  }

  .second-example {
    margin-top: 150px;
  }

  .upper-image,
  .upper-image-1 {
    display: none;
  }
  .down-image {
    position: absolute;
    left: 40px;
    bottom: -200px;
  }

  .text-wrapper,
  .text-wrapper-1 {
    margin-top: 10px;
    padding-top: 0;
    margin: 0;
  }

  .text-wrapper-1 {
    padding-bottom: 200px;
  }

  .down-image-1 {
    position: absolute;
    left: 40px;
    bottom: -22px;
  }

  .tarrifs h2 {
    margin-left: 100px;
  }

  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px;
  }
  .cards li {
    text-align: center;
  }

  .offers,
  .offers:last-child {
    margin-bottom: 70px;
    padding: 10px;
    margin-right: 0;
    max-width: 300px;
  }

  .free-call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .redirection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 250px;
    margin: 0 auto;
  }

  .information p {
    padding: 0;
  }
}

@media (max-width: 420px) {
  .description {
    max-width: 360px;
  }

  .greeting-image img {
    margin-left: 80px;
  }
}

@media (max-width: 320px) {
  .down-image-1 {
    position: absolute;
    left: 4px;
    bottom: -22px;
  }

  .down-image {
    position: absolute;
    left: 4px;
    bottom: -200px;
  }

  .primary-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .description {
    margin: 0;
    max-width: 300px;
  }

  .greeting-image img {
    width: 240px;
    height: 190px;
    margin-left: 30px;
  }

  .offers,
  .offers:last-child {
    max-width: 280px;
  }

  .contact-form input {
    width: 200px;
  }

  .redirection {
    margin-left: 24px;
  }
}
